Mental Health Coach Test/n8n/Project GrowPort.json
{
  "name": "Project GrowPort",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Nachricht aus dem Webhook holen\nconst message = ($json.body?.message || '').toString().trim();\n\n// einfache Demo-User-ID\nconst userId = 'demo-user-1';\n\n// vorerst feste Session-ID (später vom Frontend mitgeben)\nconst sessionId = '00000000-0000-0000-0000-000000000001';\n\n// Testkonstante für das beenden einer Seesion\nconst endSession = $json.body?.endSession\n\nreturn {\n  userMessage: message,\n  userId,\n  sessionId,\n  endSession,\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        64
      ],
      "id": "0c64f292-d124-4c49-a0c3-4e7077bb9b1a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "={{ $json.systemPrompt }}"
            },
            {
              "content": "={{$node[\"Code in JavaScript1\"].json.finalUserPrompt}}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        896,
        288
      ],
      "id": "6192bf58-d498-45ad-a2e3-b9c4c498a786",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "03AqdKBi1eVVOJMS",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const userId      = $json.user_id\nconst userMessage = $json.user_message;\nconst sessionId   = $json.session_id;\nconst history     = $json.history || '';\n\n// Langzeit-Gedächtnis aus Execute a SQL query5 holen\nconst longTermSummary = $json.summary || '';\n\nconst longTermContext = longTermSummary\n  ? `Letzter Stand aus vorherigen Sitzungen:\\n${longTermSummary}\\n\\n`\n  : '';\n\n// Bisheriger Verlauf (falls vorhanden)\nconst conversationContext =\n  typeof history === 'string' && history.trim().length > 0\n    ? `Bisheriger Verlauf:\\n${history}\\n\\n`\n    : '';\n\n\nconst finalUserPrompt =\n  `${conversationContext}` +\n  `Neue Nachricht vom Nutzer:\\n` +\n  `User: ${userMessage}\\n` +\n  `Bitte antworte als Coach.` + \n  conversationContext;\n\n// an OpenAI weitergeben\nreturn {\n  userId,\n  userMessage,\n  sessionId,\n  finalUserPrompt,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        304
      ],
      "id": "43cbdff6-fd7c-47cb-a45c-1782de89a0a3",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const sessionId = $('Code in JavaScript').item.json.sessionId\nconst userId = $('Code in JavaScript').item.json.userId\nconst userMessage = $('Code in JavaScript').item.json.userMessage\nconst createdAt = new Date().toISOString() \n\n// LLM output:\nconst assistantText = $json.output[0].content[0].text\n\nreturn {\n  reply: assistantText,\n  userId,\n  sessionId,\n  userMessage,\n  assistantText,\n  createdAt,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        288
      ],
      "id": "2902f20a-9b83-425f-974b-831e5ab4e887",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\n  \"reply\": \"Danke für das Gespräch. Ich habe mir die wichtigsten Punkte gemerkt.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1552,
        960
      ],
      "id": "26c9af34-8789-4e98-acac-7a9d3d792ce9",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "collection": "prompt_layers",
        "options": {},
        "query": "={{ $json.mongoQueryJson }}\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        640,
        -496
      ],
      "id": "159a4527-a62d-4728-937d-139dd8c567d9",
      "name": "Find Prompt Layer",
      "credentials": {
        "mongoDb": {
          "id": "NMQPyY2pq1OhNeuT",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const docs = $input.all(0).map(i => i.json);\n\nif (!docs.length) throw new Error(\"No layer docs found.\");\n\ndocs.sort((a, b) => (b.priority ?? 0) - (a.priority ?? 0));\n\nconst systemPrompt = docs.map(d => d.content).join(\"\\n\\n\");\n\nreturn [{\n  json: {\n    systemPrompt,\n    loadedLayers: docs.map(d => d.layer_key),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -512
      ],
      "id": "8a53e940-a998-45ed-8ad2-fd81df5dc25d",
      "name": "Build SystemPrompt"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst textRaw = (input.body?.message || \"\").toString();\nconst text = textRaw.toLowerCase();\n\n// --- Risk router (nur heuristisch) ---\nconst highRisk = [\n  \"ich will nicht mehr leben\",\n  \"ich möchte nicht mehr leben\",\n  \"ich bringe mich um\",\n  \"ich bring mich um\",\n  \"suizid\",\n  \"selbstmord\",\n  \"mich umbringen\",\n  \"mir etwas antun\",\n  \"selbst verletzen\",\n  \"selbstverletzen\",\n  \"jemandem etwas antun\",\n  \"ich töte\",\n  \"ich bringe jemanden um\",\n];\n\nconst mediumRisk = [\n  \"ich kann nicht mehr\",\n  \"ich will nicht mehr\",\n  \"alles ist sinnlos\",\n  \"kein ausweg\",\n  \"hoffnungslos\",\n  \"ich halte das nicht mehr aus\",\n  \"ich habe angst vor mir selbst\",\n  \"ich verliere die kontrolle\",\n];\n\nlet risk_mode = \"0\";\nif (highRisk.some(k => text.includes(k))) risk_mode = \"2\";\nelse if (mediumRisk.some(k => text.includes(k))) risk_mode = \"1\";\n\n// --- Need detection ---\nconst exerciseHints = [\n  \"übung\",\"intervention\",\"technik\",\"strategie\",\"atem\",\"beruhigen\",\n  \"runterkommen\",\"regulieren\",\"panik\",\"angst\",\"stress\",\"überfordert\",\n  \"konkret\",\"schritt für schritt\"\n];\n\nconst minigameHints = [\n  \"minigame\",\"spiel\",\"challenge\",\"aufgabe\",\"ablenken\",\"kurz\",\n  \"mini\",\"quick\",\"reset\"\n];\n\nlet need_exercises = exerciseHints.some(k => text.includes(k));\nlet need_minigames = minigameHints.some(k => text.includes(k));\n\n// Safety override\nif (risk_mode !== \"0\") {\n  need_exercises = false;\n  need_minigames = false;\n}\n\n// Never both in same response\nif (need_exercises && need_minigames) need_minigames = false;\n\n// Always-on keys\nconst layer_keys = [\n  \"core_master\",\n  \"regeln\",\n  \"rolle\",\n  \"ziel\",\n  \"redlist\",\n  \"psychologie\",\n];\n\nif (need_exercises) layer_keys.push(\"exercise_instructions\", \"exercises\");\nif (need_minigames) layer_keys.push(\"minigames_instructions\", \"minigames_usecases\", \"minigames\");\n\n// --- NEW: Build Mongo query as JSON STRING for n8n MongoDB node ---\nif (!Array.isArray(layer_keys)) {\n  throw new Error(\"layer_keys is not an array (unexpected)\");\n}\n\nconst mongoQueryObj = {\n  is_active: true,\n  layer_key: { $in: layer_keys },\n};\n\nconst mongoQueryJson = JSON.stringify(mongoQueryObj);\n\nreturn [{\n  json: {\n    ...input,\n    router: { risk_mode, need_exercises, need_minigames, layer_keys },\n    mongoQueryJson, // <-- use this in MongoDB node Query (JSON Format)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -688
      ],
      "id": "74c7247c-5bc9-446f-b09d-18f0ffcfb7af",
      "name": "Selecting Prompt Layer"
    },
    {
      "parameters": {
        "collection": "short_term_memory",
        "options": {},
        "query": "={\n\"user_id\": \"{{ $('Code in JavaScript').item.json.userId }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -208,
        960
      ],
      "id": "43631dbc-f989-454e-9d34-04358e491798",
      "name": "Short-term memory find",
      "credentials": {
        "mongoDb": {
          "id": "NMQPyY2pq1OhNeuT",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "long_term_memory",
        "fields": "user_id, summary, created_at",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1328,
        960
      ],
      "id": "68b05f73-393d-4483-bf9f-1bc3c43b5382",
      "name": "Long-term memory put",
      "credentials": {
        "mongoDb": {
          "id": "NMQPyY2pq1OhNeuT",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "collection": "long_term_memory",
        "options": {
          "limit": 1,
          "sort": "{\n  \"created_at\": -1\n}\n",
          "projection": "{\n  \"summary\": 1,\n  \"_id\": 0\n}\n"
        },
        "query": "={\n  \"user_id\": \"={{$json.user_Id}}\"\n}\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -688,
        64
      ],
      "id": "5f423596-f91f-4a51-bc3d-46458016e072",
      "name": "Long-term memory find",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "NMQPyY2pq1OhNeuT",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "long_term_memory",
        "query": "={\n  \"user_id\": \"={{$json.userId}}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -624,
        272
      ],
      "id": "5f1dcbb3-3c94-418b-8fbf-c001d85c07cc",
      "name": "Long-term memory delete",
      "credentials": {
        "mongoDb": {
          "id": "NMQPyY2pq1OhNeuT",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f61053a6-280e-40f9-9b16-7a2f9502432c",
              "name": "summary",
              "value": "=={{$json.summary ?? \"\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        64
      ],
      "id": "7d1e1d06-4f22-4b16-bab2-efa4df583739",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86811030-d5ea-438b-93fc-bccbed7afad4",
              "name": "user_id",
              "value": "={{ $('Code in JavaScript').item.json.userId }}",
              "type": "string"
            },
            {
              "id": "dde3da2c-0532-497a-8cd2-56ad4a405707",
              "name": "user_message",
              "value": "={{$node[\"Code in JavaScript\"].json.userMessage}}",
              "type": "string"
            },
            {
              "id": "ba080139-7ebd-40e4-b150-fc8efb6cc244",
              "name": "session_id",
              "value": "={{$node[\"Code in JavaScript\"].json.sessionId}}",
              "type": "string"
            },
            {
              "id": "bb8c1f18-2c22-4483-a506-4b9d8b8b3730",
              "name": "history",
              "value": "={{$node[\"Short-term memory load last 50 Elements\"].json.history ?? \"\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        304
      ],
      "id": "f8a9063c-b648-4786-bcd5-6ac4087e2d0f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "short_term_memory",
        "fields": "user_id, session_id, role, content, created_at",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1728,
        288
      ],
      "id": "680ed485-6623-4510-9e32-70b5c3e5b0b3",
      "name": "Short-term memory put (User Chat)",
      "credentials": {
        "mongoDb": {
          "id": "NMQPyY2pq1OhNeuT",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "short_term_memory",
        "fields": "=user_id, session_id, role, content, created_at",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1728,
        496
      ],
      "id": "fc895a4b-6a82-405d-a4c0-f180a6d65fd8",
      "name": "Short-term memory put (Assistant Chat)",
      "credentials": {
        "mongoDb": {
          "id": "NMQPyY2pq1OhNeuT",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e61a046-e531-4e2a-bf79-b67fbe3a4be4",
              "name": "user_id",
              "value": "={{$json.userId}}",
              "type": "string"
            },
            {
              "id": "3fa98fb9-d5b1-42ae-9018-8caea97c681e",
              "name": "session_id",
              "value": "={{$json.sessionId}}",
              "type": "string"
            },
            {
              "id": "4787c6b1-65a6-4cbe-9c26-b01d8651b27b",
              "name": "role",
              "value": "user",
              "type": "string"
            },
            {
              "id": "96d67a62-0bbb-48f6-b455-003de421eaca",
              "name": "content",
              "value": "={{$json.userMessage}}",
              "type": "string"
            },
            {
              "id": "0893ee37-23a9-4593-9fc3-a85b8bf3701e",
              "name": "created_at",
              "value": "={{$json.createdAt}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        288
      ],
      "id": "af36e12a-4796-45ab-a65a-81da97fc7948",
      "name": "Edit Insert UserChat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e61a046-e531-4e2a-bf79-b67fbe3a4be4",
              "name": "user_id",
              "value": "={{$json.userId}}",
              "type": "string"
            },
            {
              "id": "3fa98fb9-d5b1-42ae-9018-8caea97c681e",
              "name": "session_id",
              "value": "={{$json.sessionId}}",
              "type": "string"
            },
            {
              "id": "4787c6b1-65a6-4cbe-9c26-b01d8651b27b",
              "name": "role",
              "value": "assistant",
              "type": "string"
            },
            {
              "id": "96d67a62-0bbb-48f6-b455-003de421eaca",
              "name": "content",
              "value": "={{ $json.assistantText }}",
              "type": "string"
            },
            {
              "id": "0893ee37-23a9-4593-9fc3-a85b8bf3701e",
              "name": "created_at",
              "value": "={{$json.createdAt}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        496
      ],
      "id": "8030f8e7-c909-4be9-a0ae-02d384492f6c",
      "name": "Edit Insert AssistantChat"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        288
      ],
      "id": "47de9bc2-c262-4fc0-aeec-60e5421f4fd1",
      "name": "Merge_1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf97dab1-8ae4-4ff3-b42b-b8298d89e49b",
              "leftValue": "={{ $json.endSession }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        304
      ],
      "id": "eb1a789c-b57a-4f22-9894-23f4413bb144",
      "name": "Check on Endseason"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6dee0e83-840a-4185-9503-a7568cc09faa",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1664,
        64
      ],
      "id": "7820315d-847d-4a6a-8b41-bebdfa280edb",
      "name": "Input",
      "webhookId": "6dee0e83-840a-4185-9503-a7568cc09faa"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d50480ef-5516-42ff-8db7-73b0e181024f",
              "leftValue": "={{ $json.need_exercises }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        -752
      ],
      "id": "a80a714e-50bc-4d3e-b155-7d93fcaaeacf",
      "name": "check if exercises should loaded"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9bf08d95-58f3-4f27-8e7e-faa3e8397cd3",
              "leftValue": "={{ $json.need_minigames }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        -1072
      ],
      "id": "54b77e1e-9d52-4947-a888-f2b1e1ddc9a6",
      "name": "check if minigames should loaded"
    },
    {
      "parameters": {
        "collection": "prompt_layers",
        "options": {},
        "query": "{\n  \"is_active\": true,\n  \"layer_key\": \"exercises\"\n}\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        560,
        -928
      ],
      "id": "81643415-2e28-4426-b420-39b35ff112d7",
      "name": "load exercices",
      "credentials": {
        "mongoDb": {
          "id": "NMQPyY2pq1OhNeuT",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "collection": "prompt_layers",
        "options": {},
        "query": "{\n  \"is_active\": true,\n  \"layer_key\": \"minigames\"\n}\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        560,
        -1216
      ],
      "id": "577bdbf0-522d-42ab-ad8b-25b2d3cd0ba5",
      "name": "load minigames",
      "credentials": {
        "mongoDb": {
          "id": "NMQPyY2pq1OhNeuT",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        -912
      ],
      "id": "b026276c-7171-430c-ac98-7e9a82a2b7b4",
      "name": "merge exercices/minigames"
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "short_term_memory",
        "query": "={\n\"user_id\": \"{{ $('Code in JavaScript').item.json.userId }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        160,
        768
      ],
      "id": "ec76baaf-3e05-439a-9e48-61207ccb9366",
      "name": "short-term memory delete",
      "credentials": {
        "mongoDb": {
          "id": "NMQPyY2pq1OhNeuT",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81a88460-8895-429c-8652-31b2eb38653e",
              "name": "user_id",
              "value": "={{$json.userId}}",
              "type": "string"
            },
            {
              "id": "41d68753-a679-4171-9407-1347c25a48e2",
              "name": "summary",
              "value": "={{ $node[\"Build Summary of short-term memory\"].json.output[0].content[0].text }}\n",
              "type": "string"
            },
            {
              "id": "fc003d93-22e9-4b9c-9cc4-98e5ebdcbc91",
              "name": "created_at",
              "value": "={{$json.createdAt}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        960
      ],
      "id": "1d84b288-c9e8-4615-81ee-23303263df2a",
      "name": "long-term memory prep",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        -512
      ],
      "id": "a1a831a3-1146-46ac-8478-0702579a84f8",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const userId    = $('Code in JavaScript').first().json.userId;\nconst sessionId = $('Code in JavaScript').first().json.sessionId;\n\nconst items = $input.all();\n\n// Beispiel: Felder die es typischerweise gibt\nconst fullHistory = items\n  .map(i => i.json.content)\n  .filter(Boolean)\n  .join('\\n');\n\nconst summaryPrompt = `\nFasse die folgende Coaching-Unterhaltung in maximal 3 Sätzen zusammen.\nFokussiere dich auf:\n- zentrale Themen / Probleme\n- Ziele des Nutzers\n- wichtige Entscheidungen oder Erkenntnisse.\n`\n\n\nreturn [{\n  json: {\n    userId,\n    sessionId,\n    fullHistory,\n    summaryPrompt,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        960
      ],
      "id": "c9eb0f46-07ed-4ba3-bb40-cd8133c68319",
      "name": "prep for summary"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "{{ $json.summaryPrompt }}\n"
            },
            {
              "content": "={{ $json.fullHistory }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        464,
        960
      ],
      "id": "c587abb4-dd2d-4236-a994-0312e8e8dacd",
      "name": "Build Summary of short-term memory",
      "credentials": {
        "openAiApi": {
          "id": "03AqdKBi1eVVOJMS",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userId    = $('prep for summary').item.json.userId;\nconst sessionId = $('prep for summary').item.json.sessionId;\nconst createdAt = new Date().toISOString() \n\n// LLM-Text (Simplify Output)\nconst summary   = $json.text;\n\nreturn {\n  userId,\n  sessionId,\n  summary,\n  createdAt,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        960
      ],
      "id": "2b66770b-ebf1-4707-91cb-72e50d0affa1",
      "name": "prep for put in long-term memory"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1520,
        80
      ],
      "id": "d12d276c-f373-48aa-b9e6-51ef7f243562",
      "name": "Output"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require(\"crypto\");\n\nfunction timingSafeEqualHex(a, b) {\n  // Schutz gegen Timing-Angriffe (klein, aber sauber)\n  const ba = Buffer.from(a, \"hex\");\n  const bb = Buffer.from(b, \"hex\");\n  \n  if (ba.length !== bb.length){\n    return false;\n  } \n  \n  return crypto.timingSafeEqual(ba, bb);\n}\n\nconst item = $input.first().json;\nconst headers = item.headers || {};\nconst timestamp = headers[\"x-timestamp\"];\nconst signature = headers[\"x-signature\"];\n\n// 1) Pflicht-Header prüfen\nif (!timestamp || !signature) {\n  return [{ json: { ok: false, error: \"missing signature headers\" } }];\n}\n\n// 2) Replay-Schutz: Timestamp-Fenster\nconst now = Date.now();\nconst ts = Number(timestamp);\nif (!Number.isFinite(ts)) {\n  return [{ json: { ok: false, error: \"invalid timestamp\" } }];\n}\n\nconst MAX_SKEW_MS = 5 * 60 * 1000; // 5 Minuten\nif (Math.abs(now - ts) > MAX_SKEW_MS) {\n  return [{ json: { ok: false, error: \"timestamp too old/new\" } }];\n}\n\n// 3) Raw Body rekonstruieren\n// n8n parsed JSON -> item.body ist ein Objekt.\n// Wir müssen exakt den gleichen String erzeugen wie im Backend.\n// Wenn dein Backend JSON.stringify(req.body) nutzt, mach hier das gleiche:\nconst rawBody = JSON.stringify(item.body ?? {});\n\n// 4) Signatur nachbauen\nconst secret = process.env.N8N_WEBHOOK_SECRET;\nif (!secret) {\n  return [{ json: { ok: false, error: \"server misconfigured (no secret)\" } }];\n}\n\nconst signingString = `${timestamp}.${rawBody}`;\nconst expected = crypto\n  .createHmac(\"sha256\", secret)\n  .update(signingString, \"utf8\")\n  .digest(\"hex\");\n\n// 5) Vergleich\nconst ok = timingSafeEqualHex(expected, signature);\n\nreturn [{ json: { ok, error: ok ? null : \"bad signature\" } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        288
      ],
      "id": "01cea944-ba74-4a60-8ad1-94f969b087a3",
      "name": "prep check validation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "13bf025b-980e-4c35-b1ee-2249729ef25d",
              "leftValue": "={{$json.ok}}",
              "rightValue": "Hallo",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1168,
        288
      ],
      "id": "4858205a-29e7-4f4f-bb70-e8d23eb4f58d",
      "name": "check validation",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"unauthorized\" }",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -928,
        432
      ],
      "id": "1dadda92-469f-4657-ac4b-5945509be111",
      "name": "Error 401"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Du bist ein Klassifizierer für eingehende Chat-Nachrichten in einer Therapie-Chat-App.\nDeine Ausgabe MUSS aus GENAU 3 Zeilen bestehen, exakt in diesem Format:\nneed_minigames: ja || nein\nneed_exercises: ja || nein\nrisk_mode: 0 || 1 || 2\nRegeln:\n- Keine zusätzlichen Zeilen. Kein Kommentar. Kein JSON. Keine Erklärungen.\n- need_minigames und need_exercises dürfen NICHT beide \"ja\" sein. Wenn beides passt, setze need_exercises: ja und need_minigames: nein.\n- risk_mode:\n  0 = kein akutes Risiko\n  1 = mittleres Risiko (z.B. starke Überforderung, Kontrollverlust, Hoffnungslosigkeit ohne konkrete Selbst-/Fremdschädigung)\n  2 = hohes Risiko (z.B. konkrete Selbstverletzung/Suizidabsicht/Plan/akute Fremdgefährdung)\n- Wenn risk_mode = 1 oder 2, dann setze need_minigames: nein und need_exercises: nein.\n- Sei konservativ bei Risiko: Bei unsicherer Lage lieber risk_mode höher setzen.\n"
            },
            {
              "content": "={{ $json.conversationContext }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -368,
        -480
      ],
      "id": "6de1ba4e-f2c0-4463-a724-cee0504ad0f4",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "03AqdKBi1eVVOJMS",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output[0].content[0].text;\n\n\n\nconst text = raw.toLowerCase().trim();\n\nconst lines = text.split(\"\\n\");\n\nconst need_minigames = lines[0].search(/ja/) !== -1;\n  \nconst need_exercises = lines[1].search(/ja/) !== -1;\n\nconst risk_mode = Number( lines[2].charAt(lines[2].length -1));\n\n// Build layer keys\nconst layer_keys = [\n  \"core_master\",\n  \"regeln\",\n  \"rolle\",\n  \"ziel\",\n  \"redlist\",\n  \"psychologie\",\n];\n\n// Mongo query JSON string\nconst mongoQueryObj = {\n  is_active: true,\n  layer_key: { $in: layer_keys },\n};\nconst mongoQueryJson = JSON.stringify(mongoQueryObj);\n\nreturn [{\n  json: {\n    need_minigames,\n    need_exercises,\n    risk_mode,\n    mongoQueryJson\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -480
      ],
      "id": "282425e6-8735-4609-8d67-a02ab08e3062",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "short_term_memory",
        "query": "=[\n  {\n    \"$match\": {\n  \"user_id\": \"{{ $('Code in JavaScript').item.json.userId }}\" ,\n  \"session_id\": \"{{ $('Code in JavaScript').item.json.sessionId }}\"\n}\n\n  },\n  { \"$sort\": { \"created_at\": -1 } },\n  { \"$limit\": 50 },\n  { \"$sort\": { \"created_at\": 1 } },\n  {\n    \"$group\": {\n      \"_id\": null,\n      \"history\": {\n        \"$push\": { \"$concat\": [\"$role\", \": \", \"$content\"] }\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"_id\": 0,\n      \"history\": {\n        \"$reduce\": {\n          \"input\": \"$history\",\n          \"initialValue\": \"\",\n          \"in\": {\n            \"$cond\": [\n              { \"$eq\": [\"$$value\", \"\"] },\n              \"$$this\",\n              { \"$concat\": [\"$$value\", \"\\n\", \"$$this\"] }\n            ]\n          }\n        }\n      }\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        16,
        304
      ],
      "id": "6e9659ee-db36-46b0-a833-9807ad9910b8",
      "name": "Short-term memory load last 50 Elements",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "NMQPyY2pq1OhNeuT",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "short_term_memory",
        "query": "=[\n  {\n    \"$match\": {\n  \"user_id\": \"{{ $('Code in JavaScript').item.json.userId }}\" ,\n  \"session_id\": \"{{ $('Code in JavaScript').item.json.sessionId }}\"\n}\n\n  },\n  { \"$sort\": { \"created_at\": -1 } },\n  { \"$limit\": 5 },\n  { \"$sort\": { \"created_at\": 1 } },\n  {\n    \"$group\": {\n      \"_id\": null,\n      \"history\": {\n        \"$push\": { \"$concat\": [\"$role\", \": \", \"$content\"] }\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"_id\": 0,\n      \"history\": {\n        \"$reduce\": {\n          \"input\": \"$history\",\n          \"initialValue\": \"\",\n          \"in\": {\n            \"$cond\": [\n              { \"$eq\": [\"$$value\", \"\"] },\n              \"$$this\",\n              { \"$concat\": [\"$$value\", \"\\n\", \"$$this\"] }\n            ]\n          }\n        }\n      }\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -64,
        -192
      ],
      "id": "c763e0da-5c53-408e-a947-80f91efbde92",
      "name": "Short-term memory load last 5 Elements",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "NMQPyY2pq1OhNeuT",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const history = $json.history || '';\nconst user_message = $json.user_message || '';\n\n// Bisheriger Verlauf (falls vorhanden)\nconst conversationContext =\n  typeof history === 'string' && history.trim().length > 0\n    ? `Bisheriger Verlauf:\\n${history}\\n\\nNeue Message:\\n${user_message}`\n    : '';\n\n// an OpenAI weitergeben\nreturn {\n  conversationContext\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -192
      ],
      "id": "4d2414ba-d84e-49bd-8573-fa7f9d6c1561",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dde3da2c-0532-497a-8cd2-56ad4a405707",
              "name": "user_message",
              "value": "={{$node[\"Code in JavaScript\"].json.userMessage}}",
              "type": "string"
            },
            {
              "id": "bb8c1f18-2c22-4483-a506-4b9d8b8b3730",
              "name": "history",
              "value": "={{$node[\"Short-term memory load last 5 Elements\"].json.history ?? \"\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        -192
      ],
      "id": "bf18ce7b-3ef4-4fbf-b7bf-000d9eb2070c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "Statt in zwei MongoDB zugriffen mit jeweils 5 und 50 Elementen auf ein Zugriff zusammenfügen und sich auf 10-15 Elemente Beschränken.\n\nRücksprache mit Marc über Umfang Chat History halten\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        96
      ],
      "typeVersion": 1,
      "id": "a65a4342-60d3-432c-adb5-97ad65ec289d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Von Response Text zu "
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -752
      ],
      "id": "d5f38461-dd4e-489d-beab-26db27216609",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Hier könnte ein Analyse tool hinzugefügt werden der folgende Parameter in ein Google Cheet einfügt:\n- Anzahl der Chat Posts\n- Dauer des Calls\n- Übergreifende Thema in einem Wort (Vielleicht vordefinierte um einheitliche Bewertung zu erlangen)\n",
        "height": 192,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        1184
      ],
      "id": "4a275f95-5815-4d9e-a52e-ab4c42935958",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Sicherung mittels Hash Abfrage <Value>.<Time>",
        "height": 288,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1456,
        464
      ],
      "id": "5681d80f-1be2-4ec2-b627-cc306358ef1e",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Long-term memory find",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge_1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Insert UserChat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Insert AssistantChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Prompt Layer": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build SystemPrompt": {
      "main": [
        [
          {
            "node": "Merge_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecting Prompt Layer": {
      "main": [
        []
      ]
    },
    "Long-term memory find": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Long-term memory delete": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Check on Endseason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Short-term memory put (User Chat)": {
      "main": [
        []
      ]
    },
    "Edit Insert UserChat": {
      "main": [
        [
          {
            "node": "Short-term memory put (User Chat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Insert AssistantChat": {
      "main": [
        [
          {
            "node": "Short-term memory put (Assistant Chat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge_1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check on Endseason": {
      "main": [
        [
          {
            "node": "Short-term memory load last 50 Elements",
            "type": "main",
            "index": 0
          },
          {
            "node": "Short-term memory load last 5 Elements",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Short-term memory find",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if minigames should loaded": {
      "main": [
        [
          {
            "node": "load minigames",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "merge exercices/minigames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if exercises should loaded": {
      "main": [
        [
          {
            "node": "load exercices",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "merge exercices/minigames",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "load minigames": {
      "main": [
        [
          {
            "node": "merge exercices/minigames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "load exercices": {
      "main": [
        [
          {
            "node": "merge exercices/minigames",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "merge exercices/minigames": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "long-term memory prep": {
      "main": [
        [
          {
            "node": "Long-term memory put",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Build SystemPrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Short-term memory find": {
      "main": [
        [
          {
            "node": "prep for summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "short-term memory delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "short-term memory delete": {
      "main": [
        []
      ]
    },
    "Long-term memory put": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prep for summary": {
      "main": [
        [
          {
            "node": "Build Summary of short-term memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary of short-term memory": {
      "main": [
        [
          {
            "node": "prep for put in long-term memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prep for put in long-term memory": {
      "main": [
        [
          {
            "node": "long-term memory prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prep check validation": {
      "main": [
        [
          {
            "node": "check validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check validation": {
      "main": [
        [],
        [
          {
            "node": "Error 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "check if minigames should loaded",
            "type": "main",
            "index": 0
          },
          {
            "node": "check if exercises should loaded",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find Prompt Layer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Short-term memory load last 50 Elements": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Short-term memory load last 5 Elements": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fb0f0fe1-e75a-441b-a19a-0b1dd9c58471",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8606273417b3ee362be131f42dc27db632da967c8b65e74dc8d987b641d6a155"
  },
  "id": "uhqIQUOThINtrNtO",
  "tags": []
}